
PORT=8000

CORS_ORIGIN=*

MONGODB_URI=mongodb+srv://azay01:ajayJEE100@cluster0.0d2k7bu.mongodb.net



ACCESS_TOKEN_SECRET =chai-aur-code

ACCESS_TOKEN_EXPIRY =1d
REFRESH_TOKEN_SECRET = chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dlgnwwred
CLOUDINARY_API_KEY=448957547836742
CLOUDINARY_API_SECRET=p_wxwTKfWtgRSLHVrbhnMXIKuH8